.header {
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin-top: 50px;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__img {
  width: 149px;
  height: 36px;
}
.header__link {
  color: #4F5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s ease;
  margin-left: 40px;
}
.header__link:hover {
  color: #0b132a;
  transition: all 0.2s ease;
}
.header__link:first-child {
  margin-left: 157px !important;
}
.header__link-two {
  margin-left: 150px;
  color: #0B132A;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__btn {
  border-radius: 50px;
  height: 45px;
  width: 150px;
  color: #F53838;
  background-color: transparent;
  border: 0.3px solid #F53838;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  font-size: 19px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: #F53838;
  margin-left: 30px;
}
.header__btn::after, .header__btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #F53838;
}
.header__btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
.header__btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.header__btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.header__btn:hover {
  color: #ffffff;
}
.header__btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.hero {
  display: flex;
  margin-top: 117px;
}
.hero__title {
  color: #0B132A;
  font-family: Rubik;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  width: 555px;
}
.hero__link {
  color: #0B132A;
  font-family: Rubik;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
.hero__desc {
  margin-top: 20px;
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 555px;
}
.hero__link-two {
  color: #4F5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s ease;
  color: #0B132A;
  font-weight: 500;
  font-size: 16px;
}
.hero__link-two:hover {
  color: #0b132a;
  transition: all 0.2s ease;
}
.hero__btn {
  margin-top: 50px;
  color: #F53838;
  background-color: transparent;
  border: 0.3px solid #F53838;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  font-size: 19px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: #F53838;
  border-radius: 10px;
  padding: auto 77px;
  width: 250px;
  height: 60px;
}
.hero__btn::after, .hero__btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #F53838;
}
.hero__btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
.hero__btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.hero__btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.hero__btn:hover {
  color: #ffffff;
}
.hero__btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}
.hero__wrapper:last-child {
  position: relative;
}
.hero__pic {
  position: absolute;
  left: 100px;
}

.non {
  border-radius: 10px;
  margin-bottom: 200px;
  border: none;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 91px;
  margin-top: 215px;
  background: #ffffff;
  position: relative;
}
.non::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  opacity: 0.06;
  z-index: -1;
  background: #0d1025;
  filter: blur(57px);
}
.non__block {
  display: flex;
  align-items: center;
}
.non__block-line {
  position: relative;
}
.non__block-line:after {
  content: "";
  width: 2px;
  height: 125.573px;
  background: #eeeff2;
  position: absolute;
  left: -115px;
}
.non__pic {
  border-radius: 70px;
  background: #FFECEC;
  padding: 15px;
}
.non__title {
  margin-left: 36px;
  color: #0B132A;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 120% */
}
.non__desc {
  margin-left: 36px;
  color: #4F5665;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.promise {
  display: flex;
  justify-content: space-between;
  margin-top: 95.83px;
}
.promise__pic {
  width: 508.12px;
  height: 414.715px;
}
.promise__wrapper:last-child {
  margin-left: 169.48px;
}
.promise__title {
  width: 383.406px;
  margin-top: 45px;
  color: #0B132A;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.promise__desc {
  margin-top: 20px;
  color: #4F5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 427.879px;
}
.promise__img {
  width: 24px;
  height: 24px;
}
.promise__block {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.promise__block:first-child {
  margin: 23px auto;
}
.promise__sub {
  margin-left: 10.08px;
  color: #4F5665;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

#plan {
  margin-top: 126px;
  padding-top: 80px;
  background: linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
}

.plan {
  display: flex;
  justify-content: center;
}
.plan__title {
  position: relative;
  color: #0B132A;
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.plan__jh {
  display: flex;
  justify-content: center;
}
.plan__desc {
  margin-top: 20px;
  width: 555px;
  color: #4F5665;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.plan__blocks {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.plan__blocker {
  position: absolute;
  margin-left: 76.06px;
  bottom: 50px;
}
.plan__block {
  border-radius: 10px;
  padding-top: 80px;
  text-align: center;
  background: #ffffff;
  border: 2px solid #DDD;
  width: 330px;
  height: 760px;
}
.plan__img {
  width: 144.904px;
  height: 165.374px;
}
.plan__sub {
  color: #0B132A;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 30px;
}
.plan__desc-two {
  text-align: start;
  color: #4F5665;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  left: 100px;
  margin-top: 10px;
}
.plan__desc-two::before {
  position: absolute;
  top: 3px;
  left: -30px;
  content: "";
  background: url(../../img/tick.svg) no-repeat center/cover;
  width: 24px;
  height: 24px;
}
.plan__desc-two:first-child {
  margin-top: 30px;
}
.plan__sub-two {
  margin-top: 130px;
  color: #0B132A;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.plan__sub-two:nth-child(3) {
  margin: auto;
}
.plan__btn {
  margin-top: 20px;
  color: #F53838;
  background-color: transparent;
  border: 0.3px solid #F53838;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  font-size: 19px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: #F53838;
  padding: auto;
  width: 177.876px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #f53838;
}
.plan__btn::after, .plan__btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #F53838;
}
.plan__btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
.plan__btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.plan__btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.plan__btn:hover {
  color: #ffffff;
}
.plan__btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.global {
  margin-top: 150px;
}
.global__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.global__title {
  text-align: center !important;
  width: 383.406px;
  color: #0B132A;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.global__desc {
  margin-top: 20px;
  text-align: center;
  width: 555px;
  color: #4F5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.global__desc-bold {
  font-weight: 500;
}
.global__img {
  margin-top: 155.87px;
  width: 1060px;
  height: 537.771px;
}
.global__block {
  max-width: 1200px;
  margin-top: 109.81px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.global__logo {
  width: 190px;
  height: 60px;
}
.global__logo:nth-child(3) {
  width: auto;
  height: auto;
}

.slider {
  margin-top: 124.16px;
}
.slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
.slider__title {
  width: 447.805px;
  color: #0B132A;
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.slider__desc {
  margin-top: 20px;
  width: 555px;
  color: #4F5665;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.slider__title-two {
  color: #0B132A;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.slider__desc-two {
  color: #4F5665;
  text-align: center;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.slider__sub {
  color: #0B132A;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 340px;
}
.slider__blocks {
  width: 340px;
}
.slider__block {
  margin-left: 20px;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}