$text-white-color: #ffffff;
$text-red-color: #F53838;
$text-gray-color: #4F5665;
$text-black-color: #0B132A;
$img-bg-color: #FFECEC;

$text-font-family: Rubik;

$button-backgraund-color: $text-red-color;