.slider {
  margin-top: 124.16px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }

  &__title {
    width: 447.805px;
    color: $text-black-color;
    text-align: center;
    font-family: $text-font-family;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
  }
  &__desc {
    margin-top: 20px;
    width: 555px;
    color: $text-gray-color;
    text-align: center;
    font-family: $text-font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  &__title-two {
    color: $text-black-color;
    text-align: center;
    font-family: $text-font-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }

  &__desc-two {
    color: $text-gray-color;
    text-align: center;
    font-family: $text-font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  &__sub {
    color: $text-black-color;
    font-family: $text-font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 340px;
  }

  &__blocks {
    width: 340px;

  }
  &__block {
    margin-left: 20px;
  }
}
